@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

/*font-family: 'IM Fell Double Pica', serif;*/

* {
  box-sizing: border-box;
}

:root {
  /*fonts*/
  
  --font-main: 'IM Fell Double Pica', serif;
  --font-accent: 'Poppins', sans-serif;
  --font-tertiary: 'Play', sans-serif;

  /* colors #8BA4A9 */
  --color-main: #9646A6;
  --color-accent: #C0C0C0;
  --color-tertiary: #D8BADE;
  --color-quadrary:  #8BA4A9;
  --color-background-accent: #F5F5F5;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'IM Fell Double Pica', serif;
}

a {
  text-decoration: none;
}

.centered {
  text-align: center;
}

.home__location {
  margin: 0;
  padding: 0;
  top: 0;
  position: absolute;
}

.main-header {
  width: 100%;
  min-height: 6rem;
  background-color: var(--color-main);
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
}

.main-header__nav {
  height: 100%;
  align-items: center;
  overflow: hidden;
}

.main-header__item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-header__item {
  margin: 0 1rem;
  padding: 0;
  font-size: 1.5rem;
}

.main-header__item a {
  text-decoration: none;
  color: white;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
  color: var(--color-quadrary);
}

.banner {
  background-color: var(--color-background-accent);
  margin-top: 6rem;
}

.banner__title {
  padding: 4rem 1rem;
  margin: 0;
  color: var(--color-main);
  font-size: 4rem;
  font-family: var(--font-main);
}

.banner__title-index {
  margin: 1rem 0;
  padding: 1rem 1rem 0 1rem;
  color: var(--color-main);
  font-size: 6rem;
  font-family: var(--font-main);
}

.banner__title-under {
  font-family: var(--font-main);
  color: var(--color-main);
  margin-top: 0;
  font-size: 3rem;
}

.banner__img {
    background-color: white;
    padding: 1rem;
    margin-top: 2rem;
    max-width: 90%;
    max-height: 80vh;
    border: var(--color-main) solid 1rem;
    border-radius: 2%;
}

.banner__description {
  padding: 0 2rem 6rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.banner__description-title {
  font-size: 4rem;
  font-family: 'Indie Flower', cursive;
}

.banner__description p {
  margin: 0;
  font-size: 1.5rem;
  max-width: 55rem;
}

.banner__fees {
  font-size: 1.75rem;
  margin: 0;
  padding-bottom: 2rem;
  color: var(--color-main);
}

.banner__add-fees__top {
  font-size: 1.75rem;
  text-decoration: underline;
  color: var(--color-main);
}

.banner__add-fees {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  color: var(--color-main);
}

.banner__add-fees:last-child {
  padding-bottom: 4rem;
}

.mobile-nav {
  width: 45rem;
  height: 100vh;
  max-width: 90%;
  position: fixed;
  left: 0;
  top: 0;
  background: var(--color-main);
  z-index: 10;
  padding: 2rem 1rem 1rem 2rem;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.mobile-nav.open {
  transform: translateX(0);
}

.mobile-nav__item-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.mobile-nav__item {
  margin: 2rem;
  padding: 0;
  background-color: var(--color-main);
}

.mobile-nav__item a {
  text-decoration: none;
  color: white;
  font-size: 32px;
  padding: 0.5rem 2rem;
}

.mobile-nav__item a:active,
.mobile-nav__item a:hover,
.mobile-nav__item a.active {
  background: var(--color-main);
  color: var(--color-quadrary);
  border-radius: 3px;
}

#side-menu-toggle {
  min-height: 70px;
  border: 1px solid white;
  font: inherit;
  font-size: 40px;
  padding: 0.5rem;
  display: block;
  background: transparent;
  color: white;
  cursor: pointer;
}

#side-menu-toggle:focus {
  outline: none;
}

#side-menu-toggle:active,
#side-menu-toggle:hover {
  color: #ffeb3b;
  border-color: #ffeb3b;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 5;
  display: none;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.news__container {
  background-color: var(--color-tertiary);
  min-height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.news__card {
  width: 55rem;
  color: var(--color-main);
  margin: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  border: solid 8px var(--color-main);
  background-color: white;
  border-radius: 5px;
  text-align: center;
}

.news__card h2 {
  font-size: 2rem;
}

.news__card p {
  margin: 0.25rem;
  font-size: 1.75rem;
}

.news__container-info {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.news__container-title {
  margin: 0;
  width: 30rem;
  padding: 2rem 0 0 0;
  font-size: 5rem;
  color: var(--main-color);
  text-align: center;
  font-family: var(--main-font);
}

.news-item__list {
  display: flex;
  flex-direction: column;
  padding: 4rem 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.news-item {
  background-color: #F5F5F5;
  padding: 2rem;
  list-style-type: none;
  margin: 4rem 1rem;
  border: solid 0.25rem #F5F5F5;
  border-radius: 0.5rem;
}

.news-item h2 {
  text-align: center;
  font-size: 2rem;
}

.carousel__container {
  background-color: var(--color-background-accent);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-bottom: 4rem;
}

.carousel__quote {
  padding: 2rem 0;
  max-width: 55rem;
  text-align: center;
  font-size: 1.75rem;
}

.carousel__image img {
  width: 30rem;
  border: none;
  border-radius: 5px;
}

/*STAFF PAGE*/

.staff__container {
  background-color: var(--color-tertiary);
  min-height: 20rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.staff__card {
  display: flex;
  flex-direction: column;
  max-width: 35rem;
  min-height: 70rem;
  color: var(--color-main);
  margin: 2rem;
  padding: 0;
  border: solid 8px var(--color-main);
  background-color: white;
  border-radius: 5px;
  text-align: center;
}

.staff__card-img {
  margin: 0;
  padding: 0;
  max-height: 40rem;
  max-width: 100%;
}

.staff__card-info {
  padding: 1rem;
}

.staff__card-info h2 {
  font-size: 1.75rem;
  margin-top: 0.75rem;
}

.staff__card-info h3 {
  font-size: 1.25rem;
}

.staff__card-info p {
  color: black;
  margin-top: 0.25rem;
  text-align: left;
  font-size: 1.25rem;
  font-family: var(--font-main);
}

/* CLASS PAGE */

.class__container {
  background-color: var(--color-tertiary);
  min-height: 20rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.class__card {
  display: flex;
  flex-direction: column;
  color: var(--color-main);
  margin: 2rem 1.5rem;
  padding: 0;
  border: solid 8px var(--color-main);
  background-color: white;
  border-radius: 5px;
  text-align: center;
  max-width: 25%;
}

.class__card-img {
  margin: 0;
  padding: 0;
}

.class__card-info {
  padding: 1rem;
}

.class__card-info h2 {
  font-size: 2rem;
  margin: 0.25rem;
}

.class__card-info h3 {
  font-size: 2rem;
}

.adult-classes__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.adult-classes__header {
  font-size: 2rem;
  color: var(--color-main);
  border: 3px solid var(--color-main);
  background: white;
  margin-top: 2rem;
  padding: 0 2rem;
}

/*.adult-classes__content {*/
/*  display: flex;*/
/*}*/

.single-class__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 12rem;
  margin-bottom: 8rem;
  max-width: 90%;
}

.single-class__info {
  margin: 2rem;
  color: var(--color-main);
}

.single-class__info h2 {
  font-size: 2rem;
}

.single-class__info h3 {
  font-size: 1.5rem;
}

#add-fee__container {
  border: 1 px solid black;
}

.table__card {
  display: flex;
  color: var(--color-main);
  margin: 2rem;
  padding: 0;
  border: solid 8px var(--color-main);
  background-color: white;
  border-radius: 5px;
  text-align: center;
  max-width: 50%;
}

.table-tuition {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(11, 1fr);
}


.table-tuition h3 {
  margin: 0;
  padding: 1rem;
  font-size: 2rem;
}

.class__table-header {
  background-color: var(--color-main);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.class__table-data {
  border: 3px solid var(--color-main);
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  background-color: var(--color-main);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.footer__contact {
  margin: 1rem 0;
  width: 100%;
}

.footer__contact h3 {
  margin: 1rem;
  font-size: 2rem;
}
 
.footer a:link, 
  .footer a:visited, 
  .footer a:active {
  text-decoration: none;
  color: white;
}

.footer a:hover {
   color: #ffd52d
}

.footer__publisher {
  padding-bottom: 1rem;
}


@media only screen and (min-width: 1100px) {
  .main-header__nav {
    display: flex;
  }

  #side-menu-toggle {
    display: none;
  }
}

@media only screen and (max-width: 1099px) {
  .banner__title {
    font-size: 6rem;
  }
  
  .main-header__nav {
    display: none;
  }
  
  .carousel__image img {
    width: 50rem;
  }
  
  #side-menu-toggle {
    display: block;
  }
  
  .staff__card {
    max-width: 90%;
  }
  
  .staff__card-img {
    max-height: 100%;
  }
  
  .class__card {
    max-width: 90%;
  }
  
  .class__table h3 {
    font-size: 3rem;
  }
  
  .class__card-info h2 {
    font-size: 4rem;
  }
  
  .class__card-info h3 {
    font-size: 3rem;
  }
  
  .single-class__container {
    flex-direction: column;
  }
  
  .footer__contact h3 {
    font-size: 3rem;
  }

}